.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.cartContainer a {
  color: aliceblue;
  background-color: var(--morado);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
}

.cartContainer a:hover {
  background-color: var(--verde);
}

.cartProduct {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
}

.cartProduct img {
  height: 150px;
}

.cartProduct h3 {
  margin-bottom: 2rem;
}

.cartProduct p {
  margin: 0.5rem 0;
}

.cartProduct button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

.cartProduct button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgb(248, 60, 60);
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  margin-left: auto;
  margin-right: 10%;
}

.total h3,
.total a {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 30px 30px 0 0;
  background-color: var(--verde);
}

.total a {
  text-decoration: none;
  border-top: none;
  background-color: var(--morado);
  border-radius: 0 0 30px 30px;
  margin-top: 0;
}

.total a:hover {
  background-color: white;
  box-shadow: 0 0 10px white;
  color: var(--morado);
  text-shadow: none;
}