.formCompra {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

label {
  margin-bottom: 0.5rem;
  color: rgb(70, 70, 70);
}

input {
  padding: 0.7rem;
  width: 100%;
  border: 1px solid var(--morado);
  border-radius: 10px;
}

input[type='submit'] {
  padding: 1rem;
  width: auto;
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--verde);
  color: white;
  text-shadow: 0 0 10px black;
}

input[type='submit']:disabled,
input[type='submit']:disabled:hover {
  background-color: rgb(182, 182, 182);
  color: rgb(207, 207, 207);
  text-shadow: none;
  box-shadow: none;
  border: none;
  cursor: initial;
}

input[type='submit']:hover {
  background-color: var(--morado);
  box-shadow: 0 0 10px var(--morado);
}