.itemDetail {
  display: flex;
  justify-content: stretch;
  width: 80%;
  margin: 50px auto;
  border: 1px solid rgb(23, 80, 0);
  border-radius: 15px;
}

.detailImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.detailImg img {
  border-radius: 15px;
  height: auto;
}

.detailInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: var(--morado);
  color: whitesmoke;
  border-radius: 0 15px 15px 0;
  text-shadow: 0 0 5px black;
  text-align: center;
}

.detailInfo p {
  margin: 10px;
}

.detailInfo h3 {
  font-size: 3rem;
}

.detailInfo h4 {
  border: 2px solid var(--verde);
  padding: 10px;
  border-radius: 10px;
}