nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--verde);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  font-size: 1.5rem;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.5s;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.562);
}

nav ul li a:hover {
  background-color: white;
  color: var(--morado);
  border-radius: 10px;
  text-shadow: none;
}

nav svg {
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.562));
}

nav img {
  width: 100px;
  height: auto;
  margin: 10px;
  filter: drop-shadow(0px 0px 2px #ffffff);
  cursor: pointer;
}