@font-face {
  font-family: 'Adigiana-Toybox-Regular';
  src: url('./Adigiana-Toybox-Regular.ttf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Adigiana-Toybox-Regular'
}