@font-face {
  font-family: 'Adigiana-Toybox-Regular';
  src: url('./Adigiana-Toybox-Regular.ttf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --morado: rgb(158, 79, 189);
  --verde: rgb(116, 192, 86);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Adigiana-Toybox-Regular'
}

a {
  text-decoration: none;
}

h1 {
  text-transform: capitalize;
}