.card {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 180px;
  height: 300px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: var(--verde);
}

.card:hover {
  box-shadow: 0 0 15px var(--morado);
  transform: scale(1.01);
}

.cardImg img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: auto;
}

.cardInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  color: whitesmoke;
  font-weight: 400;
  text-shadow: 0 0 3px black;
}

.cardInfo h4 {
  font-weight: 400;
}